<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.num.shop.mapper.DetailsMapper">
    <resultMap id="BaseResultMap" type="com.num.shop.entity.Details">
        <result column="id" property="id"/>
        <result column="orderid" property="orderid"/>
        <result column="productid" property="productid"/>
        <result column="count" property="count"/>
        <result column="productno" property="productno"/>
        <result column="price" property="price"/>
        <association property="product" column="productid" select="com.num.shop.mapper.ProductMapper.getById"></association>
    </resultMap>

    <!-- 表字段 -->
    <sql id="baseColumns">
         t.id
        , t.orderid
        , t.productid
        , t.count
        , t.productno
        , t.price
        </sql>

    <!-- 查询全部 -->
    <select id="listAll" resultMap="BaseResultMap" parameterType="com.num.shop.entity.Details">
        SELECT
        <include refid="baseColumns"/>
        FROM details t
        <where>
            <if test="orderid!=null and orderid!=''">
                and orderid = #{orderid}
            </if>
            <if test="productid!=null and productid!=''">
                and productid = #{productid}
            </if>
            <if test="count!=null and count!=''">
                and count = #{count}
            </if>
            <if test="productno!=null and productno!=''">
                and productno = #{productno}
            </if>
            <if test="price!=null and price!=''">
                and price = #{price}
            </if>
        </where>
        order by id desc
        <if test="start!=null and pageSize !=0 ">
            limit #{start} , #{pageSize}
        </if>
    </select>

    <select id="listAll2"  resultMap="BaseResultMap" parameterType="int">
        select
        <include refid="baseColumns"/>
        from details t
        where orderid in (
        select orders.id from orders where userid = #{value} and status = '已完成'
        )
    </select>
    <select id="selectByOrderId" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="baseColumns"/>
        FROM details t
        where orderid = #{value}
    </select>
    <!-- 查询全部记录数量 -->
    <select id="total" resultType="int" parameterType="com.num.shop.entity.Details">
        SELECT
        count(1)
        FROM details t
        <where>
            <if test="orderid!=null and orderid!=''">
                and orderid = #{orderid}
            </if>
            <if test="productid!=null and productid!=''">
                and productid = #{productid}
            </if>
            <if test="count!=null and count!=''">
                and count = #{count}
            </if>
            <if test="productno!=null and productno!=''">
                and productno = #{productno}
            </if>
            <if test="price!=null and price!=''">
                and price = #{price}
            </if>
        </where>
    </select>
    <!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="Integer">
        SELECT
        <include refid="baseColumns"/>
        FROM details t
        WHERE id = #{id}
    </select>

    <!-- 插入全部字段 -->
    <insert id="insert" parameterType="com.num.shop.entity.Details"
            keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
        INSERT INTO details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            orderid,
            productid,
            count,
            productno,
            price,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{orderid},
            #{productid},
            #{count},
            #{productno},
            #{price},
        </trim>
    </insert>

    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="com.num.shop.entity.Details"
            keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
        INSERT INTO details
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="orderid != null  and orderid!=''">
                orderid,
            </if>
            <if test="productid != null  and productid!=''">
                productid,
            </if>
            <if test="count != null  and count!=''">
                count,
            </if>
            <if test="productno != null  and productno!=''">
                productno,
            </if>
            <if test="price != null  and price!=''">
                price,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="orderid != null  and orderid!=''">
                #{orderid},
            </if>
            <if test="productid != null  and productid!=''">
                #{productid},
            </if>
            <if test="count != null  and count!=''">
                #{count},
            </if>
            <if test="productno != null  and productno!=''">
                #{productno},
            </if>
            <if test="price != null  and price!=''">
                #{price},
            </if>
        </trim>
    </insert>

    <!-- 更新,更新全部字段 -->
    <update id="update" parameterType="com.num.shop.entity.Details">
        UPDATE details
        <set>
            orderid=#{orderid},
            productid=#{productid},
            count=#{count},
            productno=#{productno},
            price=#{price},
        </set>
        WHERE id = #{id}
    </update>


    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="com.num.shop.entity.Details">
        UPDATE details
        <set>
            <if test="orderid != null  and orderid!=''">
                orderid=#{orderid},
            </if>
            <if test="productid != null  and productid!=''">
                productid=#{productid},
            </if>
            <if test="count != null  and count!=''">
                count=#{count},
            </if>
            <if test="productno != null  and productno!=''">
                productno=#{productno},
            </if>
            <if test="price != null  and price!=''">
                price=#{price},
            </if>
        </set>
        WHERE id = #{id}
    </update>


    <!-- 根据主键删除记录 -->
    <delete id="delete" parameterType="com.num.shop.entity.Details">
		DELETE FROM details
		WHERE id = #{id}
	</delete>


</mapper>